
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>无权访问</title>
    <style>
        .content {
            text-align: center;
            color: #606266;
            font-size: 2rem;
            padding-top: 200px;
        }
    </style>
</head>
<body>
    <div class="content">
        您无权访问此页面！
    </div>
</body>
</html>
